.oneBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    height: 3rem;
    margin: 0.2rem;
    border-radius: 5px;
}
.oneBar:hover {
    background-color: rgb(236, 234, 234);
    cursor: pointer;
}