.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Dropdown {
  width: 400px;
  max-height: 400px;
  padding: .5rem;
}

.Sugestions {
  border: 1px solid rgb(223, 223, 223);
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
